Python:
python is a commonly used programming language
It is an interpreted language.
Benefits of using python
python is very easy.
It can easily learnt by anyone.

In [1]:
# Interpreted language
# An interpreted language is a programming language
# that does not require any compilation before execution

In [2]:
# Lists:
# Lists is a datatype that is collection of values/elements/items.
# it is ordered datatype,it is mutable.
# It can be represented by square bracks[],each and every element
# separted by using comma(,).
# Tuples:
# Tuples is an ordered datatype,which is immuatble.
# It is represented by using paranthesis() and every element separated by comma(,).
# Differences:
# Main diference is list is mutable(which can change,modify) whereas tuple is immutable.
# second difference is lists represents by [], and tuples represents().

In [3]:
# Datatype
# There are mainly two types of datatypes.
# 1.basic data types(int,float,complex,boolean)
# 2.advance data types(lists,string,dictionary,tuples,set)

In [4]:
# '#' symbol is used for describe comments on a program.
# it is the symbol of comments.

In [5]:
# Mutable data type
# Mutable means we can change or modify the data after we created.
# Immutable
# Immutable means we cannot chane or modify after we created.

In [6]:
# SEt is a collection of unique elements that duplicates will remove automatically
# Dictionary is a collection of key value pairs.

In [7]:
# / it is the symbol of division
# // It is the symbol of floor division

In [8]:
# Dictionary is  collection of key value pairs ,1 key value pair is called as item.
# But list is a collection of elements,it is represented by []
# Differences:
# 1.lists represents by [], whereas dictionary represents{}
# 2.lists are ordred and dictionary is unorderd.

In [10]:
# We use tuple when immutablity is requied,and tuple are faster then lists and dictionary
# We use dictionary when we require key value pairs is required.
# We use lists when we need an order of elements .

In [12]:
 # strings are immutable which cannot modify but we can use some string methods.
 name = 'subbu'
print(name.upper())

SUBBU

In [14]:
# Index is used to access an element from a list.
# There are two types of index in python
# one is positive "index"
# another one is "negative index"

In [15]:
# Negative index
# Negative index stars from right to left(-1,-2,-3,-4)and so on.

In [16]:
# Slicing:
# Slicing is used to access multiple elements from a list.

In [17]:
# Keywords
# Keywords are special words we cant use it unnecessarily,but we can use it when necessary
# keywords are in lowerr format
# Example for keywords:True,False,if,elseif,and,as,and,or,import,return.....

In [18]:
# variables
# Variables is used to store elements in a variable.

In [19]:
# Rules to create variables:
# variables can be created by alpha numeric characters
# it cannot start with digits
# it cannot starts with special characters except"_".
# keywords cannot used to craete variable
# Finally variable is a case sensitive.

In [20]:
# operators:
# operators are used to perform operations on variables and values.
# examples(arithmetic,assignment,comparison,logical,identity,membership,bitwise)

In [21]:
# Logical operators:
# Logical operators is used to compare two values and retuyrns a boolean result.
# Examples:AND,OR,NOT
x = 5
y = 6
print(x>2 and y>5)

True

In [22]:
# Lambda is a unknown function that can defined with large expression

In [28]:
# Conditional statements is simply known as decision making statements.

In [29]:
# To write comments in python we can simply use hashtag symbol'#'.

In [30]:
# to capitalize the first letter ina string we use capitalize function.
name="subbu"
name.capitalize()

'Subbu'

In [32]:
# BY USING casefold() function we can convert all lower in a string.
name = "SUBBU"
name.casefold()

'subbu'

In [33]:
# To write multiple comments in python we use trple quotes(""")

In [40]:
list = [1,2,3,4,5]
list.remove(1)
print(list)

[2, 3, 4, 5]

In [41]:
list.clear()
print(list)

[]

In [44]:
numbers = [1,2,3,4,5]
print("largest number in list:",max(numbers))

largest number in list: 5

In [50]:
str = "hello world"
reverse = str[::-1]
print(reverse)

dlrow olleh

In [59]:
numbers = [1,2,3,3,4,5,6,6]

NameError: name 'remove_duplicates' is not defined