In [10]:
def aska():
  print("my name is aska")

In [11]:
aska()

my name is aska

In [17]:
def sub(n,z):
  sub = n-z
  print(sub)
sub(7,8)

-1

In [19]:
def student(name,age,location):
  print(f'student name is {name} and age is {age} and his location is {location}')
student('vamsi',34,'hyd')

student name is vamsi and age is 34 and his location is hyd

In [21]:
def tiger(place,diet,task):
  print(f'tiger place is {place}and diet is {diet}and his task is {task}')
tiger('forest','gaur buffalo','sleep')

tiger place is forestand diet is gaur buffaloand his task is sleep

In [22]:
x = lambda y:y*10
print(x(5))

50

In [26]:
def adding(a,b,c):
  return lambda a,b,c:a-b-c
u = adding(10,3,5)
u(10,3,5)

2