# write a python program to check if a string is palindrome

In [2]:
s = 'madam'
palindrome = s[::-1]
if palindrome == s:
    print('yes')
else:
    print('no')

yes

# write a python program to find the factorial of number

In [5]:
import math
print(math.factorial(5))

120

In [7]:
import math
print(math.factorial(3))

6

# write a python program to check largest element in list

In [32]:
list = [10,20,30,40,50]
largest = max(list)
print("the largest element in list is:",largest)

the largest element in list is: 50

# program to reverse string

In [12]:
string = 'vamsidhar'
rev = string[::-1]
print(rev)

rahdismav

# write a python program to check a number is prime

In [36]:
number = 6
for i in range(2,number):
  if number % i == 0:
    print('not prime')
    break
else:
  print('prime')

not prime

# program to find common elements in list

In [23]:
list1 = [1,2,3,4,5]
list2 = [5,4,6,7,8,9,10]
list3 = set(list1)&set(list2)
print(list3)

{4, 5}

# program to remove duplicates from list

In [25]:
list = [1,2,2,3,3,4,4,5,5,]
duplicates = set(list)
print(duplicates)

{1, 2, 3, 4, 5}

# program to find maximum number in list

In [34]:

mylist = [1,2,3,4,5,6,7,8]
print(max(mylist))

8

# program to find minimum number ina list

In [26]:
list = [22,34,21,45,67]
print(min(list))

21

# write a program to find smallest number in list

In [29]:
a = 10
b = 5
c = 4
if a<b and a<c:
  print('a is smallest')
elif b<a and b<c:
  print('b is smallest')
else:
  print('c is smallest')

c is smallest

# program to count the number of occurrences of a string

In [31]:
string = "my name is subbu is learning"
count = string.count('is')
print(count)

2

# program to copy one string to another

In [45]:
string1 = "my name is subbu"
string2 = string1
print(string2)

my name is subbu