# SETS
sets is simply known as collection of unique elements which does not allows duplicates.
It is mutable,and unordered datatype
it can be represented by curly brackets{} each and every elements separated by comma(,)

In [1]:
fruits={'banana','apple','mango'}
type(fruits)

set

In [8]:
numbers={1,2,3,3,4,5,6,6,7}
type(numbers)

set

In [4]:
names_set = {'subbu','laxman','viswa'}
type(names_set)

set

In [7]:
print(names_set)
print(numbers)
print(fruits)

{'subbu', 'viswa', 'laxman'}
{1, 2, 3, 4, 5, 6, 7}
{'mango', 'apple', 'banana'}

# Converting a list to a set

In [23]:
numbers=set([1,2,3,4,5,6,7])
print(type(numbers))
print(numbers)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7}

In [22]:
edc = set(['school','college','university'])
print(type(edc))
print(edc)

<class 'set'>
{'university', 'school', 'college'}

In [24]:
course=set(['python','java','c','oracle'])
print(type(course))
print(course)

<class 'set'>
{'oracle', 'java', 'c', 'python'}

# IT will removes the duplicate items

In [25]:
set = {11,22,22,3,3,44,44,555,555,6,6,6,7}
print(set)

{3, 6, 7, 22, 555, 11, 44}

In [28]:
# To add items in a set
set1 = {1,2,3,4,5}
set1.add(68)
print(set1)

{1, 2, 3, 4, 5, 68}

In [29]:
set2 = {1,2,3,4}
set2.add(5)
set2.add(6)
set2.add(7)
print(set2)

{1, 2, 3, 4, 5, 6, 7}

In [31]:
names={'subbu','laxman'}
names.add('viswa')
print(names)

{'subbu', 'viswa', 'laxman'}

In [44]:
# To remove items or elements from a set
lang={'telugu','hindi','english'}
lang.discard('hindi')
print(lang)

{'english', 'telugu'}

In [36]:
lang={'python','jaavaa','oraclr'}
lang.remove('jaavaa')
print(lang)

{'oraclr', 'python'}

In [38]:
# union set
# the union of two sets A and B include all elements of set A and B
set1={1,2,3,3,4,5,66,66}
set2={7,8,9,10}
set=set1.union(set2)
print(set)

{1, 2, 3, 4, 5, 66, 7, 8, 9, 10}

In [39]:
# Intersection
# The intersection of two sets that will returns common elements of both sets
set1={'subbu','venkayamma','rangayya'}
set2={'rangayya','raaji'}
set=set1.intersection(set2)
print(set)

{'rangayya'}

In [42]:
# Difference
# The difference of two sets is set of elements that are cancels common elements and returns the value of setA
setA={1,2,3,4,5}
setB={4,6,7,8}
set=setA.difference(setB)
print(set)

{1, 2, 3, 5}

In [43]:
# Symmetric difference
# The symmetric difference of sets is set of elements that cancels common elements of sets and returns the values of setA and setB
setA={1,2,3,4,5}
setB={4,6,7,8}
set=setA.symmetric_difference(setB)
print(set)

{1, 2, 3, 5, 6, 7, 8}