

> Add blockquote
# Tuple
# Tuple is a datatype represents an unordered,immutable sequence of elements.
# They are defined using paranthesis() and elements are must separated by commas.

In [2]:
#examples:
fruits = (32,'subbu',3.14)
type(fruits)

tuple

In [3]:
animals = ('tiger','lion','elephant')
type(animals)

tuple

In [4]:
birds = ('parrot','Dove')
type(birds)

tuple

In [5]:
# Accessing of tuples

In [7]:
fruits=("apple","banana","guava","mango")
print(fruits[1])

banana

In [8]:
print(fruits[2])

guava

In [9]:
print(fruits[3])

mango

In [10]:
print(fruits[0])

apple

In [11]:
# Slicing
print(fruits[0:5])

('apple', 'banana', 'guava', 'mango')

In [12]:
print(fruits[0:2])

('apple', 'banana')

In [13]:
# operations
# 1.Concatenation
#  its nothing but combining of two tuples
tuple1 = (1,2,3,4)
tuple2 = (5,6,7,8)
print(tuple1+tuple2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [14]:
a = ('subbu','laxman')
b = ('aska','reena')
print(a+b)

('subbu', 'laxman', 'aska', 'reena')

In [16]:
# Repetition
# Repeating a tuple with mentioned times is called repetition
tuple1 = (1,2,3.14)
print(tuple1*8)

(1, 2, 3.14, 1, 2, 3.14, 1, 2, 3.14, 1, 2, 3.14, 1, 2, 3.14, 1, 2, 3.14, 1, 2, 3.14, 1, 2, 3.14)

In [17]:
tuple2=('subbu',)
print(tuple2*5)

('subbu', 'subbu', 'subbu', 'subbu', 'subbu')

Tuple methods
1.Index:returns the index of first occurrence of specified value
2.count:returns the number of occurrencies of specified value

In [19]:
# index
names = (11,22,33,44,55)
i = names.index(44)
print(i)

3

In [21]:
print(names.index(33))

2

In [22]:
print(names.index(11))

0

In [23]:
print(names.index(55))

4

In [24]:
print(names.index(22))

1

In [26]:
# Count
number = (11,22,33,11,11,45,664,433)
print(number.count(11))

3

In [27]:
print(number.count(433))

1

In [28]:
print(number.count(45))

1